@font-face {
  font-family: 'regularFont';
  src: url('./regularFont.otf');
}

@font-face {
  font-family: 'boldFont';
  src: url('./boldFont.otf');
}

@font-face {
  font-family: 'lightFont';
  src: url('./lightFont.otf');
}

body {
  font-family: regularFont;
  margin: 0;
}

.green4 {
  background-color: #3c6c70;
}

.loginButton {
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.selected {
  text-decoration: underline;
}

label {
  display: block;
}

#appContainer {
  display: flex;
  width: 100vw;
}

#sidebar {
  background-color: #193b42;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  height: 100vh;
  max-width: 200px;
  width: 20vw;
  margin: 0;
}

#sidebar > *:not(:first-child) {
  color: white;
  margin-top: 1rem;
}

.logoContainer {
  margin: 0 0.8rem 0 0;
}

.regularFont {
  font-family: regularFont;
}

.boldFont {
  font-family: boldFont;
}

.lightFont {
  font-family: lightFont;
}

.white {
  color: white;
}

nav a {
  display: inline-block;
  margin: 1rem;
}

form div {
  margin: 1em;
  display: inline-block;
}

#profile {
  margin: 0.5rem 1rem 1rem 1rem;
  width: 80vw;
}

.accountOverviewContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: 500px;
}

#landingPage {
  background-color: #193b42;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
