@font-face {
  font-family: 'regularFont';
  src: url('./regularFont.otf');
}

@font-face {
  font-family: 'boldFont';
  src: url('./boldFont.otf');
}

@font-face {
  font-family: 'lightFont';
  src: url('./lightFont.otf');
}

@font-face {
  font-family: 'thinFont';
  src: url('./thinFont.otf');
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.font16 {
  font-size: 16px;
}

.font11 {
  font-size: 11px;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.textButton {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.green4 {
  background-color: #3c6c70;
}

.loginButton {
  border: none;
}

.link {
  text-decoration: none;
}

.linkDark {
  color: #333333;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.linkDark:hover {
  text-decoration: underline;
}

.linkDark:visited {
  color: #333333;
  text-decoration: none;
}

.selected {
  text-decoration: underline;
}

label {
  display: block;
}

#appContainer {
  display: flex;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
  width: 100vw;
}

#sidebar {
  background-color: #193b42;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.8rem 0 0.8rem;
  height: 100vh;
  max-width: 250px;
  width: 20vw;
  margin: 0;
  position: fixed;
}

#sidebarPlaceholder {
  background-color: #193b42;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.8rem 0 0.8rem;
  height: 100vh;
  max-width: 250px;
  width: 20vw;
  margin: 0;
}

#sidebar > *:not(:first-child) {
  color: white;
  margin-top: 1rem;
}

.logoContainer {
  margin: 0 0.8rem 0 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.regularFont {
  font-family: regularFont;
}

.boldFont {
  font-family: boldFont;
}

.lightFont {
  font-family: lightFont;
}

.thinFont {
  font-family: thinFont;
}

.mediumLargeFont {
  font-size: 1.25rem;
}

.largeFont {
  font-size: 1.5rem;
}

.largerFont {
  font-size: 1.75rem;
}

.white {
  color: white;
}

.orange {
  color: #dd983e;
}

nav a {
  display: inline-block;
  margin: 1rem;
}

form div {
  margin: 1em;
  display: inline-block;
}

#mainContent {
  width: 100%;
  background-color: #f3f3f3;
  padding-bottom: 250px;
}

#footer {
  color: #333333;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 175px;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.footerText {
  margin: 0 3rem;
}

.shiftDown {
  margin-bottom: -0.5rem;
  margin-right: 0.5rem;
}

#bottomImgContainer {
  display: flex;
}

#bottomImg {
  align-self: flex-end;
}

#content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #f3f3f3;
}

#topBar {
  background-color: white;
  padding: 1rem 10%;
  box-shadow: 2px 2px 2px #dddddd;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.accountOverviewContainer {
  color: #333333;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transactionOverviewContainer {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  color: #333333;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 5px solid #3c6c70;
  box-shadow: 2px 2px 2px #dddddd;
}

.transactionOverviewContainer:last-child {
  margin-bottom: 0;
}

.accountSmallPreview {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 0.5rem 0 0.5rem 0;
}

.listWidth {
  max-width: 770px;
}

.listBar {
  padding-inline-start: 10px;
  border-left: 1px solid #aaaaaa;
  margin-left: 20px;
}

.smallLogo {
  margin-right: 0.25rem;
}

.accountNavLink {
  color: #ffffff;
  text-decoration: none;
}

.accountNavLink:hover {
  color: #ffffff;
  text-decoration: underline;
}

.accountLogo {
  display: flex;
  flex-direction: row;
  margin: 0;
  flex: 2;
}

.accountBalance {
  display: flex;
  flex-direction: column;
  text-align: right;
  flex: 1;
}

.accountEarnings {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
}

.accountName {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  border-left: 1px solid #aaaaaa;
  padding-left: 0.5rem;
}

#landingPage {
  background-color: #193b42;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.alignRight {
  text-align: right;
}

#cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 10%;
}

.cardFull {
  background-color: white;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 5px solid #3c6c70;
  box-shadow: 2px 2px 2px #dddddd;
}

.cardFullLink {
  color: #333333;
  text-decoration: none;
  background-color: white;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 5px solid #3c6c70;
  box-shadow: 2px 2px 2px #dddddd;
  transition: all 0.25s;
}

.cardFullLink:hover {
  border-bottom: 5px solid #dd983e;
  margin-left: 2rem;
  margin-right: -2rem;
  box-shadow: 5px 5px 2px #bbbbbb;
}

.cardDouble {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.7rem 0;
}

.cardHalf {
  background-color: white;
  padding: 1rem;
  width: 48%;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 5px solid #3c6c70;
  box-shadow: 2px 2px 2px #dddddd;
}

.cardTwoThirds {
  background-color: white;
  padding: 1rem;
  width: 65%;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 5px solid #3c6c70;
  box-shadow: 2px 2px 2px #dddddd;
}

.cardTwoThirdsBlank {
  width: 65%;
}

.cardOneThirds {
  background-color: white;
  padding: 1rem;
  width: 32%;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 5px solid #3c6c70;
  box-shadow: 2px 2px 2px #dddddd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.5rem;
  color: #333333;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #cccccc;
  margin: 0 0 0.5rem 0;
}

polyline {
  opacity: 0.5;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.labelName tspan {
  font-style: normal;
  font-weight: 700;
}

.labelName {
  font-size: 0.9em;
  font-style: italic;
}

.subHeader {
  display: flex;
  flex-direction: column;
}

#tooltip {
  position: absolute;
  display: none;
  width: 550px;
}

.summaryBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summaryCard {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.positive {
  color: #086e6c;
}

.negative {
  color: #dd983e;
}

.homeChartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accountDataDisplay {
  padding: 0;
}

.spacer {
  margin-top: 0.5rem;
}

.spacerBig {
  margin-top: 1.5rem;
}

.smallSpacer {
  margin-top: 0.2rem;
}

.navSelected {
  padding-left: 0.5rem;
  border-left: 3px solid white;
}

.navNotSelected {
  padding-left: 0.5rem;
  border-left: 3px solid #193b42;
}

.settingsButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

.settingsButtons > * {
  margin: 0.25rem 0;
}

.greenButton {
  display: inline-block;
  border-radius: 0.33rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #3c6c70;
  box-shadow: 2px 2px 2px #dddddd;
  padding: 0.25rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #3c6c70;
  color: #ffffff;
  font-family: regularFont;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.whiteButton {
  display: inline-block;
  border-radius: 0.33rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #eeeeee;
  box-shadow: 2px 2px 2px #dddddd;
  padding: 0.25rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #eeeeee;
  color: #333333;
  font-family: regularFont;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.horSpacer {
  margin: 0 0.5rem;
}

.alignBottom {
  display: flex;
}

.alignBottom > * {
  align-self: flex-end;
}

.transactionForm {
  display: flex;
  flex-direction: column;
}

.transactionForm > * {
  margin: 0;
}

.buttonHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.buttonHolder > * {
  margin: 0 0.5rem 0.5rem 0;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexColumnLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stockHeader {
  border-right: 1px solid #aaaaaa;
  padding-right: 1rem;
}

#barContainer {
  width: 350px;
  height: 35px;
  background-color: #193b42;
  border: white 2px solid;
  border-radius: 0.5rem;
}

#bar {
  background-color: #dd983e;
  height: 100%;
  width: 0%;
  border: #dd983e 1px solid;
  border-radius: 0.3rem 0 0 0.3rem;
}

.progressMessages {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
