@font-face {
  font-family: 'regularFont';
  src: url('./regularFont.otf');
}

body {
  font-family: regularFont;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#appContainer {
  display: flex;
}

#sidebar {
  background-color: #193b42;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: 100vh;
  max-width: 200px;
  width: 20vw;
  margin: 0;
}

#sidebar > *:not(:first-child) {
  color: white;
  margin-top: 1rem;
}

.logoContainer {
  margin: 0 1rem 0 0;
}

nav a {
  display: inline-block;
  margin: 1rem;
}

form div {
  margin: 1em;
  display: inline-block;
}
